@tailwind base;
@tailwind components;
@tailwind utilities;
.be-vietnam-pro-thin {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.be-vietnam-pro-extralight {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.be-vietnam-pro-light {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.be-vietnam-pro-regular {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.be-vietnam-pro-medium {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.be-vietnam-pro-semibold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.be-vietnam-pro-bold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.be-vietnam-pro-extrabold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.be-vietnam-pro-black {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.be-vietnam-pro-thin-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.be-vietnam-pro-extralight-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.be-vietnam-pro-light-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.be-vietnam-pro-regular-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.be-vietnam-pro-medium-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.be-vietnam-pro-semibold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.be-vietnam-pro-bold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.be-vietnam-pro-extrabold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.be-vietnam-pro-black-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 900;
    font-style: italic;
}
@layer utilities {
    .br-color {
        border-color: #6d24cf;
    }
    .l-color {
        background-color: #ffe06f;
    }
}
@layer components {
    .no-scrollbar {
        scrollbar-width: none;
    }
    .gradient-button {
      background: linear-gradient(90deg, rgba(109,36,207,1) 0%, rgba(255,224,111,1) 100%);
    }
    .gradient-button:hover {
      background: linear-gradient(90deg, rgba(255,224,111,1) 0%,  rgba(109,36,207,1) 100%);
    }
    .gradient-border {
      border-left: 2px dashed transparent;
      border-image: linear-gradient(to bottom, #ffe06f, #6d24cf) 1;
    }
    @media (max-width: 768px) {
        .gradient-border {
          border-width: 2px 0 0 0; /* Horizontal border */
          border-image: linear-gradient(to right, #6d24cf, #ffe06f) 1; /* Horizontal gradient */
        }
    }
    @keyframes slide-in {
        from {
            left: -100%;
        }
    }
    .slide-from-left {
        animation: slide-in 0.4s;
    }
}